<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chesterleung.lastpass</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>B2E0C1AB-0001-4000-8000-000000000001</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2E0C1AB-0002-4000-8000-000000000002</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B2E0C1AB-0002-4000-8000-000000000002</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B2E0C1AB-0002-4000-8000-000000000002</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chester Leung</string>
	<key>description</key>
	<string>Search your LastPass vault with lpass, with idle auto-logout</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LastPass</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:lastpass_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading vault…</string>
				<key>script</key>
				<string>./list.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search LastPass</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B2E0C1AB-0001-4000-8000-000000000001</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./action.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B2E0C1AB-0002-4000-8000-000000000002</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>`lp` searches your vault. ↩ copies the password (concealed, cleared after 30s), ⌘↩ copies the username, ⌥↩ opens the URL. Logs out of lpass automatically after `idle_minutes` without use.</string>
	<key>uidata</key>
	<dict>
		<key>B2E0C1AB-0001-4000-8000-000000000001</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B2E0C1AB-0002-4000-8000-000000000002</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>clear_clipboard_seconds</key>
		<string>30</string>
		<key>idle_minutes</key>
		<string>60</string>
		<key>lastpass_email</key>
		<string></string>
		<key>lastpass_keyword</key>
		<string>lp</string>
		<key>lpass_path</key>
		<string></string>
		<key>trust_device</key>
		<string>1</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>lastpass_email</string>
		<string>lpass_path</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
